<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookStore</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/home.css">
</head>
<body>
  <header>
    <div class="logo">BookStore</div>
    <div class="search-bar">
      <input type="text" placeholder="Buscar libros, autores, géneros...">
    </div>
    <div>
      <a class="navegacion" href="#"><img src="/img/location-pin.png"></a> |
      <a class="navegacion" href="#"><img src="/img/user (1).png"></a> |
      <a class="navegacion" href="#"><img src="/img/shopping-cart.png"></span></a>
    </div>
  </header>

  <nav class="nav-bar">
    <a href="/views/home.html">Inicio</a>
    <a href="#" class="active">Catalogo</a>
    <a href="/views/nosotros.html">Nosotros</a>
    <a href="/views/contacto.html">Contacto</a>
    <a href="/views/curiosidades.html">Curiosidades</a>
  </nav>

  <main>
    <section class="cta-section">
      <h1>CATALOGO</h1>
      <p>Miles de libros, autores y géneros esperándote</p>
    </section>
  
  
    <section class="destacados">
      <div class="cards" id="destacadosContainer">
      </div>
      <div id="errorMensaje" class="error"></div>
    </section>
  </main>

  <footer>
    <p>&copy; Alumnos de TI 2025 | <a href="/views/terminos.html">Términos</a> | <a href="/views/pivacidad.html">Privacidad</a></p>
  </footer>

<script>
  async function cargarLibrosDestacados() {
    const container = document.getElementById("destacadosContainer");
    const errorDiv = document.getElementById("errorMensaje");

    try {
      const response = await fetch("https://localhost:7290/api/libros/todos");
      if (!response.ok) throw new Error("No se pudo obtener la lista de libros");

      const libros = await response.json();

      if (!Array.isArray(libros)) throw new Error("Respuesta inválida del servidor");

    libros.forEach(libro => {
      console.log(libro);

      const imagenUrl = `${libro.fotoUrl}`;

      const card = document.createElement("div");
      card.className = "card";

      card.innerHTML = `
        <img src="${imagenUrl}" alt="${libro.nombre}" style="width:100%; height:auto; border-radius: 8px;">
        <h3>${libro.nombre}</h3>
        <p>Género ID: ${libro.generoID}</p>
        <p style="font-size: 12px; color: #555">${libro.formato}</p>
      `;

      container.appendChild(card);
    });


    } catch (error) {
      console.error("Error al cargar libros destacados:", error);
      errorDiv.textContent = "No se pudo cargar la sección de libros destacados. Verifique su conexión o intente más tarde.";
    }
  }

  document.addEventListener("DOMContentLoaded", cargarLibrosDestacados);
</script>
</body>
</html>
