<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookStore - Contacto</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/home.css">
</head>
<body>
  <header>
    <div class="logo">BookStore</div>
    <div class="search-bar">
      <input type="text" placeholder="Buscar libros, autores, géneros...">
    </div>
    <div>
      <a class="navegacion" href="#"><img src="/img/location-pin.png"></a> |
      <a class="navegacion" href="#"><img src="/img/user (1).png"></a> |
      <a class="navegacion" href="#"><img src="/img/shopping-cart.png"></span></a>
    </div>
  </header>

  <nav class="nav-bar">
    <a href="/views/home.html">Inicio</a>
    <a href="/views/categorias.html">Catalogo</a>
    <a href="/views/nosotros.html">Nosotros</a>
    <a href="#" class="active">Contacto</a>
    <a href="/views/curiosidades.html">Curiosidades</a>
  </nav>

  <main>
    <section class="cta-section">
      <h1>¡Contáctanos!</h1>
      <p>Ponte en contacto con nosotros para no perderte de nada.</p>
    </section>

    <section class="contacto">
      <div class="contact-info">
        <div class="contact-item">
          <img src="/img/location.png" alt="Ubicacion">
          <h2>Dirección</h2>
          <p>Pablo Picasso 521, Villa Dorada, 88736 Reynosa, Tamps.</p>
        </div>
        <div class="contact-item">
          <img src="/img/phone-call.png" alt="Telefono">
          <h2>Teléfono</h2>
          <p>+52 8999819586</p>
        </div>
        <div class="contact-item">
          <img src="/img/mail.png" alt="mail">
          <h2>Email</h2>
          <p>irvincamarillo@hotmail.com</p>
        </div>
      </div>

      <div class="contact-form-map">
        <div class="form-container">
          <h2>Envianos un mensaje</h2>
          <form action="#">
            <input type="text" placeholder="Tu Nombre" required>
            <input type="email" placeholder="Tu Email" required>
            <input type="text" placeholder="Asunto" required>
            <textarea placeholder="Mensaje" required></textarea>
            <button type="submit">Enviar Mensaje</button>
          </form>
        </div>
        
        <div class="map-container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7169.74291206367!2d-98.347839!3d26.0377616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x866505aa20ff1cd3%3A0x1852b3d6c75bd714!2sPablo%20Picasso%20521%2C%20Villa%20Dorada%2C%2088736%20Reynosa%2C%20Tamps.!5e0!3m2!1ses!2smx!4v1750874595782!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

    </section>
  </main>

  <footer>
    <p>&copy; Alumnos de TI 2025 | <a href="/views/terminos.html">Términos</a> | <a href="/views/pivacidad.html">Privacidad</a></p>
  </footer>
</body>
</html>
