<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookStore</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/home.css">
</head>
<body>
  <header>
    <div class="logo">BookStore</div>
    <div class="search-bar">
      <input type="text" placeholder="Buscar libros, autores, géneros...">
    </div>
    <div>
      <a class="navegacion" href="#"><img src="/img/location-pin.png"></a> |
      <a class="navegacion" href="#"><img src="/img/user (1).png"></a> |
      <a class="navegacion" href="#"><img src="/img/shopping-cart.png"></span></a>
    </div>
  </header>

  <nav class="nav-bar">
    <a href="/views/home.html" >Inicio</a>
    <a href="/views/categorias.html">Catalogo</a>
    <a href="#" class="active">Nosotros</a>
    <a href="/views/contacto.html">Contacto</a>
    <a href="/views/curiosidades.html">Curiosidades</a>
  </nav>

  
  <main>
    
    <section class="cta-section">
      <h1>NOSOTROS</h1>
          <p>Conoce a nuestro equipo</p>
    </section>

      <section class="equipo">
      <div class="tarjetas-equipo">
        <div class="tarjeta">
          <img src="/img/vica.jpg" alt="Miembro 1">
          <h3>LÓPEZ DUARTE OLGA VICTORIA</h3>
          <div class="redes">
            <a href="https://github.com/Olvek"><img src="/img/github.png" alt="GitHub"></a>
          </div>
        </div>
    
        <div class="tarjeta">
          <img src="/img/abril.jpg" alt="Miembro 2">
          <h3>TRUJILLO RIVERA SAYEM ABRIL</h3>
          <div class="redes">
            <a href="https://github.com/abriltrivera"><img src="/img/github.png" alt="GitHub"></a>
          </div>
        </div>
    
        <div class="tarjeta">
          <img src="/img/angel.jpg" alt="Miembro 3">
          <h3>FLORES JUAREZ ANGEL ALBERTO</h3>
          <div class="redes">
            <a href="https://github.com/Ikasleav"><img src="/img/github.png" alt="GitHub"></a>
          </div>
        </div>
    
        <div class="tarjeta">
          <img src="/img/arce.jpg" alt="Miembro 4">
          <h3>ARCE CARMONA MIGUEL ANGEL</h3>
          <div class="redes">
            <a href="https://github.com/Mikearca"><img src="/img/github.png" alt="GitHub"></a>
          </div>
        </div>
      </div>
    </section>

  </main>

  <footer>
    <p>&copy; Alumnos de TI 2025 | <a href="/views/terminos.html">Términos</a> | <a href="/views/pivacidad.html">Privacidad</a></p>
  </footer>
</body>
</html>
